  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h4 class="page-title">Welcome, {{user}}</h4>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div class="text-center">
								<span class="icon-User font-size-70"><span class="path1"></span><span class="path2"></span></span>
								<h3 class="mb-0">12</h3>
							    <h5 class="mt-20 mb-5"Total >Number of Stores.</h5>
							</div>
						</div>
						<div class="box-footer">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="fa fa-cog mr-5"></i>View Stores</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div class="text-center">
								<span class="icon-Money font-size-70"><span class="path1"></span><span class="path2"></span></span>
								<h3 class="mb-0">0</h3>
								<h5 class="mt-20 mb-5">Total Number of QR Scans</h5>
							</div>
						</div>
						<div class="box-footer">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="fa fa-money mr-5"></i>Goto Scans</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div class="text-center">
								<span class="icon-Chart-pie font-size-70"><span class="path1"></span><span class="path2"></span></span>
								<h3 class="mb-0">$0</h3>
							    <h5 class="mt-20 mb-5">Amount Payable</h5>
							</div>
						</div>
						<div class="box-footer">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="fa fa-file mr-5"></i>View Invoice</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-xl-12 col-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title">Recent QR Scans</h4>
						</div>
						<div class="box-body">
							<div class="d-lg-flex justify-content-between">							
								<div class="info-box bg-transparent no-shadow p-0 h-auto min-h-0">
									<span class="info-box-icon bg-info-light rounded"><i class="fa-solid fa-qrcode"></i></span>
									<div class="info-box-content">
									  <span class="info-box-number">10,845</span>
									  <span class="d-block font-weight-700">Total Number of Scans This Month</span>
									</div>
								</div>						
								<div class="info-box bg-transparent no-shadow p-0 h-auto min-h-0">
									<span class="info-box-icon bg-danger-light rounded"><i class="ion ion-stats-bars"></i></span>
									<div class="info-box-content">
									  <span class="info-box-number">$1,512</span>
									  <span class="d-block font-weight-700">Amount Payable</span>
									</div>
								</div>
							</div>
							<!--
							<div class="table-responsive">
								<table class="table mb-0">
								  <thead>
									<tr>
									  <th>Date/Time</th>
									  <th class="text-right">Merchant Name</th>
									  <th class="text-right">Location</th>
									  <th class="text-right">Device</th>
									  <th class="text-right">Net Revenue</th>
									</tr>
								  </thead>
								  <tbody>
									<tr>
									  <td>13/04/2023 20:23</td>
									  <td class="text-right">Tesco</td>
									  <td class="text-right text-info">Newfoundland</td>
									  <td class="text-right text-danger">#212</td>
									  <td class="text-right">$2.90 <span class="ml-5 font-size-10 text-success"> 4.5%</span></td>
									</tr>
									<tr>
									  <td>13/04/2023 20:23</td>
									  <td class="text-right">Tesco</td>
									  <td class="text-right text-info">Newfoundland</td>
									  <td class="text-right text-danger">#212</td>
									  <td class="text-right">$2.90 <span class="ml-5 font-size-10 text-success"> 4.5%</span></td>
									</tr>
									<tr>
									  <td>13/04/2023 20:23</td>
									  <td class="text-right">Tesco</td>
									  <td class="text-right text-info">Newfoundland</td>
									  <td class="text-right text-danger">#212</td>
									  <td class="text-right">$2.90 <span class="ml-5 font-size-10 text-success"> 4.5%</span></td>
									</tr>
									<tr>
									  <td>13/04/2023 20:23</td>
									  <td class="text-right">Tesco</td>
									  <td class="text-right text-info">Newfoundland</td>
									  <td class="text-right text-danger">#212</td>
									  <td class="text-right">$2.90 <span class="ml-5 font-size-10 text-success"> 4.5%</span></td>
									</tr>
								  </tbody>
								</table>
							  </div> -->
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
		<section class="content">	
			<div class="row">
					
				<div class="col-xl-12 col-12">
					<div class="box">
						<div class="box-body analytics-info">
							<h4 class="box-title">QR Scans by Month</h4>
							<div id="basic-bar" style="height:400px;"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>

  