  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">My Store</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">Add New Store</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">


		  <!-- Validation wizard -->
		  <div class="box box-default">
			<div class="box-header with-border">
			  <h4 class="box-title">Enter store Information</h4>
			</div>
			<!-- /.box-header -->
			<div class="box-body wizard-content">
				<form action="#" class="validation-wizard wizard-circle">
					<!-- Step 1 -->
					<h6>Basic Info</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="wfirstName2"> Store Name : <span class="danger">*</span> </label>
									<input type="text" class="form-control required" id="wfirstName2" name="name"> </div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="wlastName2"> Address : <span class="danger">*</span> </label>
									<input type="text" class="form-control required" id="wlastName2" name="address"> 
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="wemailAddress2"> Email Address : <span class="danger">*</span> </label>
									<input type="email" class="form-control" id="wemailAddress2" name="emailAddress"> </div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="wphoneNumber2">Phone Number :</label>
									<input type="tel" class="form-control" id="wphoneNumber2"> </div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="wlocation2"> Select City : <span class="danger">*</span> </label>
									<select class="custom-select form-control required" id="wlocation2" name="location">
										<option value="">Select City</option>
										<option value="India">Alberta</option>
										<option value="USA">Calgary</option>
										<option value="Dubai">Ontario</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="wlocation2"> Select region : <span class="danger">*</span> </label>
									<select class="custom-select form-control required" id="wlocation2" name="location">
										<option value="">Select City</option>
										<option value="India">Alberta</option>
										<option value="USA">Calgary</option>
										<option value="Dubai">Ontario</option>
									</select>
								</div>
							</div>
						</div>
						
					</section>
					<!-- Step 3 -->
					<h6>More Info</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="wint1">Name of Contact</label>
									<input type="text" class="form-control required" id="wint1"> </div>
								<div class="form-group">
									<label for="wintType1">COntact Type</label>
									<select class="custom-select form-control required" id="wintType1" data-placeholder="Type to search cities" name="wintType1">
										<option value="Banquet">Staff</option>
										<option value="Fund Raiser">Consultant</option>
										<option value="Dinner Party">Owner/Manager</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="wjobTitle4">Start Date :</label>
									<input type="date" class="form-control required" id="wjobTitle4">
								</div>
								<div class="form-group">
									<label>Business Type :</label>
										<input name="group2" type="radio" id="radio_3" value="1">
										<label for="radio_3" class="d-block">Multi-chain</label>
										<input name="group2" type="radio" id="radio_4" value="1">
										<label for="radio_4">Single chain</label>
								</div>
							</div>
						</div>
					</section>
				</form>
			</div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->

		</section>
	  </div>
  </div>

  