  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Invoice</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item" aria-current="page">All Merchant Invoice</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		  <div class="row">
			<div class="col-xl-8 col-lg-8 col-12">
				<div class="box">
					<div class="box-header with-border">						
						<h4 class="box-title">Invoice List</h4>
						<h6 class="box-subtitle">Export Invoice List to Copy, CSV, Excel, PDF & Print</h6>
					</div>
					<div class="box-body">						
						<div class="table-responsive">

							<table id="example" class="table table-lg invoice-archive">
								<thead>
									<tr>
										<th>#</th>
										<th>Period</th>
										<th>Issued to</th>
										<th>Status</th>
										<th>Due date</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>#0025</td>
										<td>February 2023</td>
										<td>
											<h6 class="mb-0">
												<a href="#">Best Buy</a>
											</h6>
										</td>
										<td>
											<select name="status" class="form-control" data-placeholder="Select status">
												<option value="overdue">Overdue</option>
												<option value="hold" selected>On hold</option>
												<option value="pending">Pending</option>
												<option value="paid">Paid</option>
												<option value="invalid">Invalid</option>
												<option value="cancel">Canceled</option>
											</select>
										</td>
										<td>
											<span class="badge badge-pill badge-success">Paid on Mar 16, 2018</span>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold">$36,890</h6>
										</td>
									</tr>
									<tr>
										<td>#0025</td>
										<td>February 2023</td>
										<td>
											<h6 class="mb-0">
												<a href="#">Best Buy</a>
											</h6>
										</td>
										<td>
											<select name="status" class="form-control" data-placeholder="Select status">
												<option value="overdue">Overdue</option>
												<option value="hold" selected>On hold</option>
												<option value="pending">Pending</option>
												<option value="paid">Paid</option>
												<option value="invalid">Invalid</option>
												<option value="cancel">Canceled</option>
											</select>
										</td>
										<td>
											<span class="badge badge-pill badge-success">Paid on Mar 16, 2018</span>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold">$36,890</h6>
										</td>
									</tr>
									<tr>
										<td>#0025</td>
										<td>February 2023</td>
										<td>
											<h6 class="mb-0">
												<a href="#">Best Buy</a>
											</h6>
										</td>
										<td>
											<select name="status" class="form-control" data-placeholder="Select status">
												<option value="overdue">Overdue</option>
												<option value="hold" selected>On hold</option>
												<option value="pending">Pending</option>
												<option value="paid">Paid</option>
												<option value="invalid">Invalid</option>
												<option value="cancel">Canceled</option>
											</select>
										</td>
										<td>
											<span class="badge badge-pill badge-success">Paid on Mar 16, 2018</span>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold">$36,890</h6>
										</td>
									</tr>
									<tr>
										<td>#0025</td>
										<td>February 2023</td>
										<td>
											<h6 class="mb-0">
												<a href="#">Best Buy</a>
											</h6>
										</td>
										<td>
											<select name="status" class="form-control" data-placeholder="Select status">
												<option value="overdue">Overdue</option>
												<option value="hold" selected>On hold</option>
												<option value="pending">Pending</option>
												<option value="paid">Paid</option>
												<option value="invalid">Invalid</option>
												<option value="cancel">Canceled</option>
											</select>
										</td>
										<td>
											<span class="badge badge-pill badge-success">Paid on Mar 16, 2018</span>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold">$36,890</h6>
										</td>
									</tr>
									<tr>
										<td>#0025</td>
										<td>February 2023</td>
										<td>
											<h6 class="mb-0">
												<a href="#">Best Buy</a>
											</h6>
										</td>
										<td>
											<select name="status" class="form-control" data-placeholder="Select status">
												<option value="overdue">Overdue</option>
												<option value="hold" selected>On hold</option>
												<option value="pending">Pending</option>
												<option value="paid">Paid</option>
												<option value="invalid">Invalid</option>
												<option value="cancel">Canceled</option>
											</select>
										</td>
										<td>
											<span class="badge badge-pill badge-success">Paid on Mar 16, 2018</span>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold">$36,890</h6>
										</td>
									</tr>
									<tr>
										<td>#0025</td>
										<td>February 2023</td>
										<td>
											<h6 class="mb-0">
												<a href="#">Best Buy</a>
											</h6>
										</td>
										<td>
											<select name="status" class="form-control" data-placeholder="Select status">
												<option value="overdue">Overdue</option>
												<option value="hold" selected>On hold</option>
												<option value="pending">Pending</option>
												<option value="paid">Paid</option>
												<option value="invalid">Invalid</option>
												<option value="cancel">Canceled</option>
											</select>
										</td>
										<td>
											<span class="badge badge-pill badge-success">Paid on Mar 16, 2018</span>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold">$36,890</h6>
										</td>
									</tr>


								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-12">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Invoice</h5>

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">2,064</div>
					  <span>Total Invoice</span>
					</div>
				  </div>
				</div>
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Paid Invoice</h5>

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">1,738</div>
					  <span>Completed Invoice</span>
					</div>
				  </div>				
				</div>
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Overdue Payment Invoice</h5>

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">1100</div>
					  <span>Overdue Payment Invoice</span>
					</div>
				  </div>

				</div>
				<div class="box box-inverse box-warning">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Pending Invoice</h5>

					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">964</div>
					  <span>Pending</span>
					</div>
				  </div>
				</div>
			</div>
		  </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>