  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">All App Users</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item" aria-current="page">Users</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		  <div class="row">
			  
			<div class="col-12">

			 <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">App Users</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
					  <table id="example5" class="table table-bordered table-striped" style="width:100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Location</th>
								<th>Device Type</th>
								<th>Age</th>
								<th>Last Scan</th>
								<th>Last Seen</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Amanda Barnes</td>
								<td>Vancouver</td>
								<td>iPhone 11</td>
								<td>31</td>
								<td>2023/03/25</td>
								<td>2023/04/25 11:52</td>
							</tr>
							<tr>
								<td>Amanda Barnes</td>
								<td>Vancouver</td>
								<td>iPhone 11</td>
								<td>31</td>
								<td>2023/03/25</td>
								<td>2023/04/25 11:52</td>
							</tr>
							<tr>
								<td>Amanda Barnes</td>
								<td>Vancouver</td>
								<td>iPhone 11</td>
								<td>31</td>
								<td>2023/03/25</td>
								<td>2023/04/25 11:52</td>
							</tr>
							<tr>
								<td>Timothy Barnes</td>
								<td>Yorkshire</td>
								<td>Samsung A1</td>
								<td>23</td>
								<td>2023/03/25</td>
								<td>2023/04/25 11:52</td>
							</tr>
							
						</tbody>
						<tfoot>
							<tr>
								<th>Name</th>
								<th>Location</th>
								<th>Device Type</th>
								<th>Age</th>
								<th>Last Scan</th>
								<th>Last Seen</th>
							</tr>
						</tfoot>
					</table>
					</div>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->      
			</div> 

			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</section>
		<!-- /.content -->
	  
	  </div>
  </div>