	
  <footer class="main-footer">
	  &copy; 2023 <a href="https://rezeet.io/">Rezeet</a>. All Rights Reserved.
  </footer>

</div>
		
	<!-- Vendor JS -->
	<script src="js/vendors.min.js?=v3"></script>
	<script src="js/pages/chat-popup.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>	
	<script src="../assets/vendor_components/datatable/datatables.min.js"></script>
	
	<!-- Adnix Admin App -->
	<script src="js/template.js"></script>
	
	{{!-- <script src="js/pages/data-table.js"></script> --}}
	
</body>

</html>