  <aside class="main-sidebar" style="background-color: #100829;">
    <!-- sidebar-->
    <section class="sidebar">	
		
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Menu </li>		
          <li class="">
                <a href="/dashboard">
                  <i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
            <span>Dashboard</span>
                </a>
              </li>		
          <li class="header">Store </li>
          <li>
                <a href="/create-store">
                  <i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>
            <span>Create Store</span>
                </a>
              </li>
          <li>
                <a href="/stores">
                  <i span class="icon-Layout-top-panel-1"><span class="path1"></span><span class="path2"></span></i>
            <span>My Stores</span>
                </a>
              </li>
          
          <li class="header">Users </li>
          <li>
                <a href="/new-user">
                  <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
            <span>Create User</span>
                </a>
              </li>
          <li>
                <a href="/users">
                  <i class="icon-Clipboard"><span class="path1"></span><span class="path2"></span></i>
            <span>All Users</span>
                </a>
          </li>	     
          
          <li class="header">Billing </li>
          <li>
                <a href="/setup-payment">
								<i class="icon-Money"><span class="path1"></span><span class="path2"></span></i>
            <span>Setup Payment</span>
                </a>
              </li>
          <li>
                <a href="/payment-history">
                  <i class="icon-Clipboard"><span class="path1"></span><span class="path2"></span></i>
            <span>Payment History</span>
                </a>
          </li>	     
          <li>
                <a href="/invoice">
                  <i class="icon-Clipboard"><span class="path1"></span><span class="path2"></span></i>
            <span>Generate Invoice</span>
                </a>
          </li>	     
          
          <li class="header">Help</li>
          <li>
                <a href="/faqs">
                  <i class="ti-info"><span class="path1"></span><span class="path2"></span></i>
            <span>FAQs</span>
                </a>
              </li>
          <li>
                <a href="/tickets">
            <i class="icon-Mail-notification"><span class="path1"></span><span class="path2"></span></i>
            <span>Support Ticket</span>
                </a>
          </li>	     
          <li>
                <a href="/feedback">
					    <i class="icon-Chat"><span class="path1"></span><span class="path2"></span></i>
            <span>Feedback</span>
                </a>
          </li>	     
      </ul>
    </section>
  </aside>
